{% extends "admin/baseadmin.html" %}
{% block title %}
Box Control
{% endblock %}

{% block body %}
<div class="layout-container">
    <h2 class="layout-h2 my-5">Box Status and Control</h2>

    <div class="room">
        {% for cell_value in range(1, 145) %}
            {% if cell_value in cell_values %}
                {% for box in boxes %}
                    {% if box.cell_value==cell_value %}
                        {% if box.regno==None %}
                        <div class="cell box-empty" onclick="togglePopup(this)">
                            {{ box.box_no }}
                        </div>
                        {% else %}
                        <div class="cell box-filled" onclick="togglePopup(this)">
                            {{ box.box_no }}
                            <div class="seat-popup">
                                Assigned to: {{ box.regno }} - {{ box.name }}
                                <form action="{{ url_for('admin.checkin') }}" method="post">
                                    <input type="hidden" name="regno" value="{{ box.regno }}">
                                    <button type="submit" class="btn btn-sm btn-primary">Kick Out</button> 
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% elif cell_value in [97, 98, 99, 100, 109, 110, 111, 112, 121, 122, 123, 124, 133, 134, 135, 136] %}
            <div class="cell box-entrance"></div>
            {% else %}
            <div class="cell box-path"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>


<script>
    let activeSeat = null;

    function togglePopup(seat) {
        if (seat.classList.contains("filled")) return;

        if (activeSeat && activeSeat !== seat) {
            activeSeat.querySelector(".seat-popup").style.display = "none";
        }

        const popup = seat.querySelector(".seat-popup");
        popup.style.display = popup.style.display === "block" ? "none" : "block";
        activeSeat = popup.style.display === "block" ? seat : null;
    }

    document.addEventListener("click", (e) => {
        if (activeSeat && !activeSeat.contains(e.target)) {
            activeSeat.querySelector(".seat-popup").style.display = "none";
            activeSeat = null;
        }
    });
</script>
{% endblock %}