{% extends 'student/base.html' %}
{% block title %}Student Home{% endblock %}
{% block content %}
<div class="layout-container my-5">
    <div class="room">
        {% for box in layoutnp %}
            {% if box["regno"]==1 %}
            <div class="cell box-empty" onclick="togglePopup(this)">
                {{ box["box_no"] }}
                <div class="seat-popup">
                    {% if student %}
                    {% if not student.box_no %}
                    Set this seat as preference?
                    <br>
                    <form action="{{ url_for('student.set_preference', box_no=box['box_no'], regno=student.regno) }}" method="post">
                        <input type="text" name="preferred_box" value="{{ box['box_no'] }}" hidden>
                        <button type="submit" class="btn btn-primary my-2">Set Preference</button>
                    </form>
                    <br>
                    {% else %}
                    You have already been assigned a box.
                    {% endif %}
                    {% else %}
                    Please log in to set preference.
                    {% endif %}
                </div>
            </div>
            {% elif box["regno"]==0 %}
            <div class="cell box-path"></div>
            {% elif box["regno"]|int==student["regno"] %}
            <div class="cell box-assigned">{{ box["box_no"] }}</div>
            {% else %}
            <div class="cell box-filled">{{ box["box_no"] }}</div>
            {% endif %}
        {% endfor %}

    </div>

    <!-- LEGEND -->
    <div class="legend">
        <div class="legend-item">
            <div class="legend-box" style="background:#22c55e"></div> Empty
        </div>
        <div class="legend-item">
            <div class="legend-box" style="background:#ef4444"></div> Filled
        </div>
        <div class="legend-item">
            <div class="legend-box" style="background:#3b82f6"></div> Your Box
        </div>
    </div>

</div>



<script>
    let activeSeat = null;

    function togglePopup(seat) {
        if (seat.classList.contains("filled")) return;

        if (activeSeat && activeSeat !== seat) {
            activeSeat.querySelector(".seat-popup").style.display = "none";
        }

        const popup = seat.querySelector(".seat-popup");
        popup.style.display = popup.style.display === "block" ? "none" : "block";
        activeSeat = popup.style.display === "block" ? seat : null;
    }

    document.addEventListener("click", (e) => {
        if (activeSeat && !activeSeat.contains(e.target)) {
            activeSeat.querySelector(".seat-popup").style.display = "none";
            activeSeat = null;
        }
    });
</script>
{% endblock %}